<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="./theme.css">
    <meta name="viewport" content="width=970, initial-scale=1.0">
    <title>Resume</title>
</head>

<body>
    <div class="sidebar">
        {% if informations.photo %}
        <img src="{{ informations.photo }}" alt="Resume's photo">
        {% endif %}

        {% if description %}
        <h2>{% trans %}About me{% endtrans %}</h2> <!-- TODO: Translation -->
        <p class="bio">{{description}}</p>
        {% endif %}

        {% if skills %}
        <h2>{% trans %}Skills{% endtrans %}</h2>
        {% for skill in skills %}
        <div class="skill">
            <h3>// {{ skill.category }}: </h3>
            {% for skill_tag in skill.skills %}
            <span class="skill-tag">#{{ skill_tag }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        {% endif %}

        {% if informations.links %}
        <h2>{% trans %}Learn more{% endtrans %}</h2>
        {% for link in informations.links %}
        <p class="link"><i class="{{ link.faClass }}"></i> {{ link.url }}</p>
        {% endfor %}
        {% endif %}
    </div>

    <div class="main">
        <h1>{{ informations.first_name }} <span class="name">{{ informations.name }}</span></h1>
        <div class="info exp">
            <div class="info-left">
                <h1 class="job">{{ informations.job_title }}</h1>
            </div>
            <div class="info-right">
                {% if informations.city %}
                <p>{{ informations.city }} <i class="fa-solid fa-location-dot"></i></p>
                {% endif %}
                {% if informations.mail %}
                <p>{{ informations.mail }} <i class="fa-solid fa-envelope"></i></p>
                {% endif %}
                {% if informations.phone %}
                <p>{{ informations.phone }} <i class="fa-solid fa-phone"></i></p>
                {% endif %}
            </div>
        </div>

        {% if experiences %}
        <h2><i class="fa-solid fa-briefcase"></i> {% trans %}Experiences{% endtrans %}</h2>
        {% for exp in experiences %}
        <div class="exp">
            <div class="section-left-side">
                <p><b>{{ exp.company }}</b></p>
                <p class="date">
                    {% if exp.date %}
                    {{ exp.date }}
                    {% else %}
                    {{ exp.beginning_date }} - {{ exp.end_date }}
                    {% endif %}
                </p>
            </div>
            <div class="section-right-side {% if loop.last %} last {% endif %}">
                <b>{{ exp.name }}</b>
                <div class="exp-content">
                    <p>{{ exp.description }}</p>
                    {% for skill in exp.skills_learned %}
                    <span class="tag">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if education %}
        <h2><i class="fa-solid fa-graduation-cap"></i> {% trans %}Education{% endtrans %}</h2>
        {% for exp in education %}
        <div class="exp">
            <div class="section-left-side">
                <p><b>{{ exp.place }}</b></p>
                <p class="date">
                    {% if exp.date %}
                    {{ exp.date }}
                    {% else %}
                    {{ exp.beginning_date }} - {{ exp.end_date }}
                    {% endif %}
                </p>
            </div>
            <div class="section-right-side {% if loop.last %} last {% endif %}">
                <b>{{ exp.name }}</b>
                <div class="exp-content">
                    <p>{{ exp.description }}</p>
                    {% for skill in exp.skills_learned %}
                    <span class="tag">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if interests %}
        <h2><i class="fa-solid fa-icons"></i> {% trans %}Interests{% endtrans %}</h2>
        <div class="interests-container">
            {% for interest in interests %}
            <div class="interest-box">
                <i class="{{ interest.faClass }}"></i>
                {% for discipline in interest.disciplines %}
                <p>{{ discipline }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>

</html>