/* Fonts */
@font-face {
    font-family: CaskaydiaCove;
    src: url(CaskaydiaCoveNerdFontMono-SemiLight.ttf);
}

/* Whole page */
html {
    width: 210mm;
    height: 297mm;
    /* border-right: black solid 1px; */
    border: black solid 1px;
    padding: 0px;
    /* print-color-adjust: exact; */
    /* font-family: Helvetica, sans-serif; */
    font-family: Calibri, sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.tag {
    display: inline-block;
    font-weight: bolder;
    padding: .25em .4em;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    border: solid 2px #7fb7f3;
    color: #56a8ff;
    font-family: "CaskaydiaCove";
    font-size: 12px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

.tag:hover {
    background-color: #7fb7f3;
    color: #fff;
}

/* Sidebar */
.sidebar {
    height: 297mm;
    width: 60mm;
    margin-left: 0mm;
    /* padding-top: 3mm; */
    padding-left: 4mm;
    padding-right: 4mm;
    background-color: #292D3E;
    color: whitesmoke;
}

.link {
    font-size: 12px;
    margin: 2px 0px 2px 0px;
}

.link i {
    font-size: 20px;
    margin-right: 6px;
}

.sidebar h2 {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    width: 55%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #56a8ff;
    border-radius: 20px;
}

.skill-tag {
    display: inline-block;
    font-weight: bolder;
    padding: .28em .7em;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #56a8ff;
    font-family: "CaskaydiaCove";
    font-size: 13px;
    /* padding-top: .28em;
    padding-bottom: .28em;
    padding-right: .7em;
    padding-left: .7em; */
    border-radius: 10rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

.sidebar h3 {
    margin: 0px;
    margin-bottom: 3px;
    color: #9e9e9e;
    display: inline-block;
    font-size: 15px;
}

.skill {
    margin-bottom: 10px;
    margin-top: 19px;
}

.sidebar img {
    width: 65%;
    margin-bottom: 5px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 5px white solid;
    border-radius: 100%;
}

.sidebar .bio {
    text-align: center;
    font-size: 16px;
}

/* Main part */
.main {
    margin-left: 3mm;
    margin-right: 20px;
    /* border: solid 1px; */
    width: 141mm;
    font-size: 14px;
}

h1 {
    margin: 0px;
    color: #292D3E;
    font-size: 64px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}

.main h2 {
    color: #292D3E;
}

.main b {
    color: #292D3E;
    text-transform: uppercase;
}

.main .date {
    font-style: italic;
}

.info {
    margin-top: 10px;
    /* margin-right: 10px; */
    margin-bottom: 20px;
}

.info hr {
    width: 80%;
}

.info-left {
    width: 50%;
}

.info-right {
    width: 50%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
    /* padding: 10px 0px 10px 0px; */
}

.info-right i {
    margin-left: 5px;
}

.job {
    /* margin-top: 12px; */
    margin: 0px;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    color: #56a8ff;
}

/* TODO: rename exp */
.exp {
    display: flex;
    flex-wrap: nowrap;
    /* margin-bottom: 5px; */
    column-gap: 3%;
    /* margin-right: 10px; */
}

.exp:hover .section-right-side:before {
    background: black;
    transition: 700ms;
    left: -6.3%;
}

.exp:hover:not(.info) {
    background: whitesmoke;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    scale: 1.2;
    transform: translateX(8px);
    transition-duration: 500ms;
    transition-property: scale, transform, margin, padding;
}

.section-left-side {
    width: 23%;
    border-right: 1px solid black;
}

.section-left-side b {
    position: relative;
}

.section-right-side {
    width: 74%;
    /* border: solid 1px black; */
    margin-bottom: 10px;
    padding: 0px;
}

.section-right-side b {
    margin-left: -3%;
    position: relative;
}

.section-right-side:before {
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    border: 1px solid black;
    float: left;
    position: relative;
    left: -6%;
    background: white;
    border-radius: 10px;
}

.exp-content {
    margin: 0px;
    margin-left: 5mm;
}

.main p {
    margin: 0px;
}

.last {
    margin-bottom: 0px;
}

.interests-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.interest-box {
    text-align: center;
}

.interest-box i {
    margin: auto;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 8px;
    color: #292D3E;
}